{% extends "base.html" %}

{% load static %}

{% block content %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font text-grey">My Events</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for event in events %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3">
                        <div class="card h-100 border-1">
                            {% if event.image %}
                            <a href="{% url 'event_detail' event.id %}">
                                <img class="card-img-top img-fluid" src="{{ event.image.url }}" alt="{{ event.name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'event_detail' event.id %}">
                                <img class="card-img-top img-fluid event-image" src="{{ MEDIA_URL }}noimage.jpeg"
                                    alt="{{ event.name }}">
                            </a>
                            {% endif %}
                            <div class="card-body pb-0">
                                <p class="mb-0 font-weight-bold">{{ event.name }}</p>
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        <p class="lead mb-0 text-left">{{ event.starts }}</p>
                                    </div>
                                </div>
                            </div>
                            {% if request.user.is_superuser %}
                            <div>
                                <small class="ml-3">
                                    <a href="{% url 'edit_event' event.id %}">Edit</a> | 
                                    <a class="text-danger" href="{% url 'delete_event' event.id %}">Delete</a>
                                </small>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}