<!-- Extends from root TICKET_ADMISSION base.html template -->
{% extends "base.html" %}

{% load static %}

{% block content %}
<section>
  <div class="container-fluid callout-container-creator">
    <!-- Tab links -->
    <div class="container container-100vh mt-5">
      <div class="tab text-center">
        <button class="tablinks" onclick="openTab(event, 'Welcome')" id="defaultOpen"><strong>Welcome</strong></button>
        <button class="tablinks" onclick="openTab(event, 'Features')"><strong>Features</strong></button>
        <button class="tablinks" onclick="openTab(event, 'Pricing')"><strong>Pricing</strong></button>
      </div>
      <!-- Tab content -->
      <div id="Welcome" class="tabcontent">
        <div class="col-7 col-md-6 my-auto centered-element">
          <h1 class="display-4 callout-text">
            Sell your tickets with low fees and instant payment
          </h1>
          <div class="row my-5">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
              <h4>
                <a href="{% url 'account_signup' %}" class="register-button btn btn-lg rounded-2 py-3">
                  <b>Register</b>
                </a>
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div id="Features" class="tabcontent row">
          <div class="container my-auto centered-element">
            <div class="mx-auto text-center">
              <h1 class="logo-font text-white display-4">Features</h1>
            </div>
            <div class="container">
              <div class="card-deck mb-3 mt-5 text-center">
                <div class="card mb-4 shadow-sm curved-corners">
                  <div class="card-header">
                    <h4 class="my-0 logo-font display-4">Ticket Buyers</h4>
                  </div>
                  <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                      <li>- Simple to use</li>
                      <li>- Create user profile</li>
                      <li>- E-tickets to e-mail</li>
                      <li>- Purchase history</li>
                    </ul>
                  </div>
                </div>
                <div class="card mb-4 shadow-sm curved-corners">
                  <div class="card-header">
                    <h4 class="my-0 logo-font display-4">Event Creators</h4>
                  </div>
                  <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                      <li>- Create, Modify & Delete events</li>
                      <li>- Add Event order page to your website</li>
                      <li>- Organiser or ticket buyers absorb booking fee</li>
                      <li>- Event analytics (Coming soon)</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>

      <div id="Pricing" class="tabcontent row">
          <div class="container my-auto centered-element">
            <div class="mx-auto text-center">
              <h1 class="logo-font text-white display-4">Pricing</h1>
              <p class="lead text-white">We offer a tiered pricing structure to suit the needs of your business...</p>
            </div>
      
            <div class="container">
              <div class="card-deck mb-3 mt-5 text-center">
                <div class="card mb-4 shadow-sm curved-corners">
                  <div class="card-header">
                    <h4 class="my-0 logo-font display-4">Free</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="">£0 <small class="text-muted"> per ticket</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                      <li>- Free for free events</li>
                      <li>- Up to 3 events</li>
                      <li></li>
                      <li></li>
                    </ul>
                  </div>
                </div>
                <div class="card mb-4 shadow-sm curved-corners">
                  <div class="card-header">
                    <h4 class="my-0 logo-font display-4">Standard</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">£1 <small class="text-muted"> booking fee</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                      <li></li>
                      <li>- per ticket</li>
                      <li>- Unlimited events</li>
                      <li>- Suited for irregular events</li>
                      <li>- Payment straight to your Stripe account</li>
                    </ul>
                  </div>
                </div>
                <div class="card mb-4 shadow-sm curved-corners">
                  <div class="card-header">
                    <h4 class="my-0 logo-font display-4">Subscription</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">from £2000 <small class="text-muted">per year</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                      <li>- for 20000+ tickets</li>
                      <li>- Unlimited events</li>
                      <li>- Suited for venues</li>
                      <li>- Payment straight to your Stripe account</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- Tab JS -->
<script type="text/javascript">
  function openTab(evt, tabName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
  }

  document.getElementById("defaultOpen").click();
</script>

{% endblock %}