<!-- Extends from root TICKET_ADMISSION base.html template -->
{% extends "base.html" %}

{% load static %}

{% block content %}
<section>
    <div class="container-fluid welcome-container">
      <div class="container container-wrapper--white curved-corners">
        <div class="row text-center p-auto m-auto">
          <div class="col-12 col-xl-6 pt-3 pb-3 mt-3 mb-3">
            <h1 class="logo-font text-grey">
              Buy Tickets
            </h1>
            <a href="{% url 'buyer_homepage' %}">
              <img src="{{ MEDIA_URL }}buy_tickets.jpeg" alt="Buy tickets" class="welcome-images">
            </a>
          </div>
          <div class="col-12 col-xl-6 pt-3 pb-3 mt-3 mb-3">
            <h1 class="logo-font text-grey">
              Sell Tickets
            </h1>
            <a href="{% url 'creator_homepage' %}">
              <img src="{{ MEDIA_URL }}sell_tickets.jpg" alt="Sell tickets" class="welcome-images">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
</script>
  
{% endblock %}