<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav ml-auto mr-0 ">
        <li class="nav-item">
            <a class="nav-link text-black ml-4" href="#" id="features" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Features
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black ml-4" href="#" id="pricing" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pricing
            </a>
        </li>
        {% if session.user %}
        <li class="nav-item">
            <a class="nav-link text-black ml-4" href="#" id="my-account" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My Account
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    {% endif %}
                    <a href="" class="dropdown-item">Overview</a>
                    <a href="" class="dropdown-item">Events</a>
                    <a href="" class="dropdown-item">Orders</a>
                    <a href="" class="dropdown-item">Events</a>
                    <a href="" class="dropdown-item">Promote</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                {% endif %}
            </div>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link text-black ml-4" href="{% url 'account_login' %}" id="login-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Login
            </a>
        </li>
        {% endif %}
    </ul>
</div>